#### Import libraries

In [251]:
import pandas as pd
import numpy as np

#### Load & Sample Data

In [232]:
# Load data
data = pd.read_excel('sample data.xlsx')

In [233]:
# Sample data
data.head(2)

,School Name,Address,School type,Board,School Type,School Type.1,Established year
0,21st Century Upper Primary School,"#HIG 201 Mandal, Office Road, Kukatpally\nHyde...",High Secondary School,CBSE Board,Private School,Co-Educational School,NaN
1,Aaaradhya Vidya,"Flat No. 204, H.No. 2-22-263/24, Bankers Chamb...",Play - Class V,Private School,Co-Educational School,NaN,NaN

#### Data Cleaning

In [234]:
# Split from Details into columns
data1 = data["Address"].str.split("Details:\n",expand=True)

In [235]:
# Merge split columns to data
list = [data,data1]
data = pd.concat(list,axis=1)
data = data.rename(columns = {0 : 'Address1',
                              1 : 'Details'})

In [236]:
data.head(2)

,School Name,Address,School type,Board,School Type,School Type.1,Established year,Address1,Details
0,21st Century Upper Primary School,"#HIG 201 Mandal, Office Road, Kukatpally\nHyde...",High Secondary School,CBSE Board,Private School,Co-Educational School,NaN,"#HIG 201 Mandal, Office Road, Kukatpally\nHyde...",High Secondary School\nCBSE Board\nPrivate Sch...
1,Aaaradhya Vidya,"Flat No. 204, H.No. 2-22-263/24, Bankers Chamb...",Play - Class V,Private School,Co-Educational School,NaN,NaN,"Flat No. 204, H.No. 2-22-263/24, Bankers Chamb...",Play - Class V\nPrivate School\nCo-Educational...

In [237]:
# Split with new line as delimiter into columns
data3 = data['Details'].str.split("\n",expand=True)
data3.head()

,0,1,2,3,4
0,High Secondary School,CBSE Board,Private School,Co-Educational School,None
1,Play - Class V,Private School,Co-Educational School,None,None
2,Private School (School for Gifted Children),Co-Educational School,None,None,None
3,Class V - Class X,Andhra Pradesh Board of Secondary Education,Private School,Co-Educational School,None
4,Play - Nursery,Private School,Co-Educational School,None,None

In [238]:
#Fill NaN
data3 = data3.fillna('Nil')

In [239]:
#Search for given words 
searchfor = ['Private','Government']
data3['P/G']= data3[0][data3[0].str.contains('|'.join(searchfor))]
data3['P/G1']= data3[1][data3[1].str.contains('|'.join(searchfor))]
data3['P/G2']= data3[2][data3[2].str.contains('|'.join(searchfor))]
data3['P/G3']= data3[3][data3[3].str.contains('|'.join(searchfor))]
data3['P/G4']= data3[4][data3[4].str.contains('|'.join(searchfor))]

In [240]:
data3.head(2)

,0,1,2,3,4,P/G,P/G1,P/G2,P/G3,P/G4
0,High Secondary School,CBSE Board,Private School,Co-Educational School,Nil,NaN,NaN,Private School,NaN,NaN
1,Play - Class V,Private School,Co-Educational School,Nil,Nil,NaN,Private School,NaN,NaN,NaN

In [241]:
#Combine columns into one columns
cols = ['P/G', 'P/G1', 'P/G2', 'P/G3','P/G4']
data3["P/G"] = data3[cols].apply(lambda x: ','.join(x.dropna()), axis=1)

In [242]:
#Search for given words 
searchfor = ['Board']
data3['Board']= data3[0][data3[0].str.contains('|'.join(searchfor))]
data3['Board1']= data3[1][data3[1].str.contains('|'.join(searchfor))]
data3['Board2']= data3[2][data3[2].str.contains('|'.join(searchfor))]
data3['Board3']= data3[3][data3[3].str.contains('|'.join(searchfor))]
data3['Board4']= data3[4][data3[4].str.contains('|'.join(searchfor))]

#Combine columns into one columns
cols = ['Board', 'Board1', 'Board2', 'Board3','Board4']
data3["Board"] = data3[cols].apply(lambda x: ','.join(x.dropna()), axis=1)

In [243]:
#Search for given words 
searchfor = ['Co-Educational']
data3['Co-Ed']= data3[0][data3[0].str.contains('|'.join(searchfor))]
data3['Co-Ed1']= data3[1][data3[1].str.contains('|'.join(searchfor))]
data3['Co-Ed2']= data3[2][data3[2].str.contains('|'.join(searchfor))]
data3['Co-Ed3']= data3[3][data3[3].str.contains('|'.join(searchfor))]
data3['Co-Ed4']= data3[4][data3[4].str.contains('|'.join(searchfor))]

#Combine columns into one columns
cols = ['Co-Ed', 'Co-Ed1', 'Co-Ed2', 'Co-Ed3','Co-Ed4']
data3["Co-Educational"] = data3[cols].apply(lambda x: ','.join(x.dropna()), axis=1)

In [244]:
#Search for given words 
searchfor = ['Established']
data3['Estb']= data3[0][data3[0].str.contains('|'.join(searchfor))]
data3['Estb1']= data3[1][data3[1].str.contains('|'.join(searchfor))]
data3['Estb2']= data3[2][data3[2].str.contains('|'.join(searchfor))]
data3['Estb3']= data3[3][data3[3].str.contains('|'.join(searchfor))]
data3['Estb4']= data3[4][data3[4].str.contains('|'.join(searchfor))]

#Combine columns into one columns
cols = ['Estb', 'Estb1', 'Estb2', 'Estb3','Estb4']
data3["Established"] = data3[cols].apply(lambda x: ','.join(x.dropna()), axis=1)

In [245]:
#Search for given words 
searchfor = ['Private','Government']
data3['School_type']= data3[0][data3[0].str.contains('|'.join(searchfor))==False]

In [246]:
#Cleaned data with required columns
cleaned_data = data3[['School_type','P/G','Board','Co-Educational','Established']]

In [247]:
# Merge columns to data
list = [data,cleaned_data]
data = pd.concat(list,axis=1)

In [254]:
#Fill blanks with Nan
data = data.replace(r'^\s*$', np.nan, regex=True)
#Fill NaN
#data = data.fillna('Nil')

#### Cleaned data

In [255]:
data.head()

,School Name,Address,School type,Board,School Type,School Type.1,Established year,Address1,Details,School_type,P/G,Board,Co-Educational,Established
0,21st Century Upper Primary School,"#HIG 201 Mandal, Office Road, Kukatpally\nHyde...",High Secondary School,CBSE Board,Private School,Co-Educational School,NaN,"#HIG 201 Mandal, Office Road, Kukatpally\nHyde...",High Secondary School\nCBSE Board\nPrivate Sch...,High Secondary School,Private School,CBSE Board,Co-Educational School,NaN
1,Aaaradhya Vidya,"Flat No. 204, H.No. 2-22-263/24, Bankers Chamb...",Play - Class V,Private School,Co-Educational School,NaN,NaN,"Flat No. 204, H.No. 2-22-263/24, Bankers Chamb...",Play - Class V\nPrivate School\nCo-Educational...,Play - Class V,Private School,NaN,Co-Educational School,NaN
2,Aakansha Centre for SCR Employees Mentally Han...,"Road No. 113/92, Mettuguda\nSecunderabad - 500...",Private School (School for Gifted Children),Co-Educational School,NaN,NaN,NaN,"Road No. 113/92, Mettuguda\nSecunderabad - 500...",Private School (School for Gifted Children)\nC...,NaN,Private School (School for Gifted Children),NaN,Co-Educational School,NaN
3,Aakruthi High School,"Durganagar Colony, Karmanghat\nHyderabad - 500...",Class V - Class X,Andhra Pradesh Board of Secondary Education,Private School,Co-Educational School,NaN,"Durganagar Colony, Karmanghat\nHyderabad - 500...",Class V - Class X\nAndhra Pradesh Board of Sec...,Class V - Class X,Private School,Andhra Pradesh Board of Secondary Education,Co-Educational School,NaN
4,Aangan Play School,"Plot No. 86, Adarsh Nagar Colony, Road #3, Ban...",Play - Nursery,Private School,Co-Educational School,NaN,NaN,"Plot No. 86, Adarsh Nagar Colony, Road #3, Ban...",Play - Nursery\nPrivate School\nCo-Educational...,Play - Nursery,Private School,NaN,Co-Educational School,NaN

In [256]:
#Export to csv
data.to_csv('sample_data_cleaned.csv')